{% extends "shop/base.html" %}
{% block content %}
    {%  if goods %}
        <form method="post" enctype="multipart/form-data" action="/Shop/good/{{ flag.id }}/">
    {% else %}
        <form method="post" enctype="multipart/form-data">
    {% endif %}
        {% csrf_token %}
           <p>
               <input class="form-control form-control-user" type="text" name="name" placeholder="商品名称" value="{{ flag.name }}">
           </p>
           <p>
               <input class="form-control form-control-user" type="number" name="price" placeholder="价格" value="{{ flag.price }}">
           </p>
           <p>
               <input class="form-control form-control-user" type="number" name="number" placeholder="商品数量" value="{{ flag.number }}">
           </p>
           <p>
               <input class="form-control form-control-user" type="datetime-local" name="production" placeholder="商品c出厂日期" value="{{ flag.production }}">
           </p>
           <p>
               <input class="form-control form-control-user" type="text" name="safe_date" placeholder="保质期" value="{{ flag.safe_date }}">
           </p>
           <p>
               <textarea id="description" class="form-control form-control-user" name="description" >
                    {{ flag.description }}
               </textarea>
           </p>
           <p>
               <input class="form-control form-control-user" type="file" name="picture" placeholder="商品图片" value="{{ flag.picture }}">
           </p>

           <p>
               <input  class="btn btn-primary btn-block" type="submit" value="提交">
           </p>


    </form>

{% endblock %}
