        {% extends "base.html" %}
        {% block title %}
            关于我们
        {% endblock %}
        {% block contend %}
		<ul class="breadnav clearfix">
			<li class="bnav-item"><a href="/shop_list2/">首页</a></li>
			<li class="bnav-item">&lt;</li>
			<li class="bnav-item"><a href="/shop_list1/">关于我们</a></li>
		</ul>

		<div class="about-wrap">
			<dl class="about-dl clearfix">
				<dt class="about-pic">
					<img src="/static/img/about-pic1.jpg"/>
				</dt>
				<dd class="about-txt">
					<h3 class="about-h">总公司</h3>
					<p class="about-p">电话：0512-8081 5888</p>
					<p class="about-p">传真：0512-8081 5566</p>
					<p class="about-p">邮编：215031</p>
					<p class="about-p">地址：江苏省苏州市人民路3188号万达广场5幢迪欧大厦</p>
				</dd>
			</dl>
			<dl class="about-dl clearfix">
				<dt class="about-pic">
					<img src="/static/img/about-pic1.jpg"/>
				</dt>
				<dd class="about-txt">
					<h3 class="about-h">苏州分公司</h3>
					<p class="about-p">电话：0512-6510 8888 </p>
					<p class="about-p">传真：0512-6935 6566 </p>
					<p class="about-p">邮编：215031</p>
					<p class="about-p">地址：江苏省苏州市人民路3188号万达广场5幢迪欧大厦</p>
				</dd>
			</dl>
			<dl class="about-dl clearfix">
				<dt class="about-pic">
					<img src="/static/img/about-pic1.jpg"/>
				</dt>
				<dd class="about-txt">
					<h3 class="about-h">苏州分公司</h3>
					<p class="about-p">电话：0512-6510 8888 </p>
					<p class="about-p">传真：0512-6935 6566 </p>
					<p class="about-p">邮编：215031</p>
					<p class="about-p">地址：江苏省苏州市人民路3188号万达广场5幢迪欧大厦</p>
				</dd>
			</dl>
			<dl class="about-dl clearfix">
				<dt class="about-pic">
					<img src="/static/img/about-pic1.jpg"/>
				</dt>
				<dd class="about-txt">
					<h3 class="about-h">苏州分公司</h3>
					<p class="about-p">电话：0512-6510 8888 </p>
					<p class="about-p">传真：0512-6935 6566 </p>
					<p class="about-p">邮编：215031</p>
					<p class="about-p">地址：江苏省苏州市人民路3188号万达广场5幢迪欧大厦</p>
				</dd>
			</dl>
			<dl class="about-dl clearfix">
				<dt class="about-pic">
					<img src="/static/img/about-pic1.jpg"/>
				</dt>
				<dd class="about-txt">
					<h3 class="about-h">苏州分公司</h3>
					<p class="about-p">电话：0512-6510 8888 </p>
					<p class="about-p">传真：0512-6935 6566 </p>
					<p class="about-p">邮编：215031</p>
					<p class="about-p">地址：江苏省苏州市人民路3188号万达广场5幢迪欧大厦</p>
				</dd>
			</dl>
			<p class="about-p2">全国加盟热线及邮箱</p>
            <p class="about-p2">9510 5396</p>
			<p class="about-p2">E-mail:jiameng@diocoffee.com</p>
		</div>
        {% endblock %}